body{
font-family: 'Montserrat', sans-serif;
color: rgb(92 97 99);
line-height: 1.4;
}

a{
  text-decoration: none;
  color: rgb(83 164 193);
}

/* Header */


header b{
  font-weight: bold;
  color: black;
}

.header{
  display:flex;
  justify-content: space-between;
  height: 4rem;
}

.headercontainer{
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

header img{
  padding-left: 1.5rem;
}

header li{
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-size: 1rem;
}

header a{
  padding: 0rem 1.5rem 0rem 0.5rem;
  font-size: 1rem;
}



@media only screen and (min-width: 875px) {
  .mobileheader{
    display: none;
  }
}

@media only screen and (max-width: 875px){
  .headercontainer{
    display: none;
  }

  .mobileheader{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

}

/* Learn Something section */

.learn {
  display: flex;
  align-items: center;
  background-color: rgb(208 211 216);
}

.img{
  width: 60%;
  padding: 2rem 1.5rem;
}

.learn .text{
  width: 40%;
}

.learntext{
  width: 80%;
  padding-left: 1rem;
}

img {
  width: 100%;
}

.learn h1{
  font-size: 2.25rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.learn p{
  font-size: 1.5rem;
  padding: 1rem 0rem 2rem 0rem;
}

.btn{
  background-color: rgb(98 103 112);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem 1rem 1rem;
  border-radius: 5px;
  width: 80%;
}

.btn:hover{
  background-color: rgb(83 164 193);
  transition: background-color 0.75s ease-in;
}

.btn a{
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 875px){
  

}



/* Info section left side */


.info{
  display: flex;
  padding-bottom: 2rem;
}

.practicetext h1{
  font-size: 2rem;
  font-weight: bold;
}

.practicetext p{
  font-size: 1.25rem;
  padding: 1.5rem 0rem 1.5rem 0rem;
}

.practicetext span{
  font-size: 1rem;
}

/* Info section right side - note .block .blockgray used in Thesis section */

.rightsideinfo{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
}

.block, .blockgray{
  display: flex;
  width: 100%;
  padding: 1rem 0rem 1rem 0rem;
}

.block .pic, .blockgray .pic{
  width: 35%;
  padding-left: 1rem;
}

.block img, .blockgray img{
  width: 100%;
}

.block .blocktext, .blockgray .blocktext{
  width: 65%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;
}

.block h4, .blockgray h4{
  font-size: 1.5rem;
  font-weight: bold;
}

.block span, .blockgray span{
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.blockgray{
  background-color: rgb(208 211 216);
}

/* Start Learning section */

.startlearning{
  text-align: center;
  background-color: rgb(208 211 216);
  padding-bottom: 1rem;
}

.startlearning h1{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.course{
  width: 25%;
  background-color: white;
  margin: 1rem;
  text-align: left;
}

.course h4{
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.course img{
  width: 100%;
}

.course .coursetxt{
  padding: 1rem;
}

.course p{
  padding-top: 0.5rem;
}

.line {
  display: flex;
  justify-content: center;
}

/* Thesis Section */

.thesis{
  text-align: center;
  padding-bottom: 1rem;
}

.thesiscontainer{
  display: flex;
}

.thesis h1{
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.video{
  width: 60%;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  text-align: left;
}

.video video{
  width: 100%;
}

.video h2{
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1.5rem;
}

.video p{
  padding-top: 0.5rem;
}

.rightsidevideo{
  width: 40%;
  padding-top: 2rem;
  text-align: left;
}

/* Footer section */

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: 2px solid rgb(208 211 216);
}

footer span{
  padding-left: 1.5rem;
}

footer ul{
  padding-right: 1rem;
}

footer a{
  padding: 0rem 0.5rem;
}
